body{
	font-family: 'Inter', 'Times New Roman';
	padding: 1.5%;
	margin: 5.75%;
	font-size:125%;
}

h1{
	font-size: 1.75em; 
	font-weight: bold;
	text-align: center;
	line-height: 1.75;
}

h2{
	font-weight: bold;
	text-align: center;
	text-decoration: underline;
	line-height: 2.15;
}

nav{
	background-color: white;
}

nav a{
	color: black;
}

nav li{
	display: block;
	padding: 5px;
}

nav li .current{
	color: rgb(255, 0, 221);
	font-weight: bold;
	font-size: larger;
}

p, h1, h2 {
	padding: 5px;
}

main{
	margin-bottom: 2vw;
}

.skip a{
	background: white;
	left: 0;
	padding: 6px;
	-webkit-transition: top 1s ease-out;
	transition: top 1s ease-out;
	z-index: 1;
	position: absolute;
	top: -40px;
  
  }
  
.skip a:focus{
	position: absolute;
	top: 0px;
  }

.sports_photos, .portrait_photos{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-row-gap: 12px;
}

.sports_photos{
	grid-column: 1 / -1;
	grid-row: 1 span 1;
	padding: 5px;
}

.portrait_photos{
	grid-column: 1 / -1;
	grid-row: 3 span 1;
	padding: 5px;
}

a:visited{color: black}

main ul li{
	list-style-type: disc;
	line-height: 1.65;
	padding: 5px;
}

.hp p, .startup p, .photo p, .sally p, .salad p{
	font-style: italic;
	text-align: center;
}

.hp h3, .startup h3, .photo h3, .sally h3, .salad h3, .clubs p{
	text-align: center;
	font-weight: bold;
}

.hp img, .startup img, .sally img, .salad img{
	margin: auto;
}

.photo img{
	margin: auto;
	padding: 12px;
}

.projects{
	line-height: 1.75;
}

.projects h1{
	font-size: 1.25em;
}

.projects h2{
	font-weight: bold;
	text-decoration: underline;
	line-height: 2;
}

.projects img{
	padding: 6px;
}

.professional p{
	line-height: 1.75;
	padding: 5px;
}

.page-footer{
	background-color: rgb(255, 145, 240);
	padding-top: 10px;
	text-align:center;
	color: black;
}

@media screen and (min-width: 850px){
	.portrait_photos, .sports_photos{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 1em;
	}

	.portrait_photos img, .sports_photos img{
		object-fit: cover;
		height: 100%
	}

	.aboutme p{
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.aboutme img{
		width: 50%;
	}

	.hp img, .startup img, .sally img, .salad img, .photo img{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}

	.hp img, .startup img{
		width: 40%;
	}

}